<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div ng-app="">


  <p ng-bind="model"></p>
<p><input ng-model="model"></p>






<!-- <h1>ng App 10+10={{10+10}} </h1> -->
<!-- <h1><input ng-model="model"> </h1> -->

<!-- <p ng-bind="model"><input type="text" > </p> -->

<!-- <p ng-bind="model">fjfgjhfg</p>
<p ng-bind="model">fjfgjhfg</p> -->
</div>

<div>
<h1 ng-bind="model">ng Model 10+10={{10+10}} </h1>

</div>

<div ng-bind="">
<h1>ng Bind 10+10={{10+10}} </h1>

</div>
  </body>
</html>
