<!DOCTYPE html>
<html>
<script src="/home/bridgeit/AtomFiles/bower_components/angular/angular.min.js"></script>
<body>

<div ng-app="">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>

Full Name: <p>{{firstName}}</p>

</div>
<p id="p"></p>
<script>
// var app = angular.module('myApp', []);
// app.controller('myCtrl', function($scope)
// {
//     $scope.firstName = "John";
//     $scope.lastName = "Doe";
// });
function ab()
{
  document.getElementById("p").innerHTML="fafadf";
}
ab();
</script>

</body>
</html>
