<div layout="row"  >

<div  layout="row" layout-wrap>
  <md-card ng-click="mobileDetails(mobile)" ng-repeat="mobile in mobiles" style="height:670px;width:400px;background-color:#bde9ef;" flex="30">
    <md-card-title>
      <div class="md-toolbar-tools">
        {{" "+mobile.name}}
      </div>
    </md-card-title>
      <md-card-content layout="column" >
<ul>
  <li>{{"Price : "+mobile.price}}</li>
  <li>{{"OS : "+mobile.specs.os}}</li>
  <li>{{"Rating : "+mobile.rating}}</li>
  <li>{{"Storage : "+mobile.specs.storage}}</li>

  <img  style="height:400px;width:250px;" src={{mobile.image.small}} class="md-card-image">

  <md-button class="md-primary md-raised">Buy Now</md-button>
</ul>
      </md-card-content>
    </md-card>
</div>

</div>
