<md-dailog >
<!-- <md-dailog-content layout="column" flex> -->
  <img src={{imageData.image.large}} class="md-card-image">
<h3>{{imageData.name}}</h3>
<h3>{{"Price : "+imageData.price}}</h3>
<h3>{{imageData.description}}</h3>
<h3>{{"Rating : "+imageData.rating}}</h3>
<!-- </md-dailog-content> -->
</md-dailog>


<!--
{
  "id": 1,
  "name": "Sony Xperia Z3",
  "price": 899,
  "specs": {
    "manufacturer": "Sony",
    "storage": 16,
    "os": "Android",
    "camera": 15
  },
  "description": "Sony Xperia Z3 is bad mobile dont buy it",
  "rating": 4,
  "image": {
    "small": "images/sony-xperia-z3.jpg",
    "large": "images/sony-xperia-z3-large.jpg"
  } -->
