<div layout="row" style="height: 65px;" >

  <div layout="column" layout="center">

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop style="margin-top:65px; ">

                <h1 style="text-align:center;">Manufacturer</h1>
                <ul ng-repeat="brand in manufacturer " layout="row">
                  <md-checkbox ></md-checkbox>
                  <li>{{"  "+brand}}</li>
                </ul>

                <h1 style="text-align:center;">OS</h1>
                <ul ng-repeat="system in os " layout="row">
                  <md-checkbox></md-checkbox>
                  <li>{{"  "+system}}</li>
                </ul>

                <h1 style="text-align:center;">Camera</h1>
                <ul ng-repeat="pixel in camera | orderBy" layout="row">
                  <md-checkbox></md-checkbox>
                  <li>{{"  "+pixel+"  MP"}}</li>
                </ul>

                <h1 style="text-align:center;" >Storage</h1>
                <ul ng-repeat="memory in storage " layout="row">
                  <md-checkbox></md-checkbox>
                  <li>{{"  "+memory+"  GB"}}</li>
                </ul>

    </md-sidenav>

  </div>

</div>
