
<div ng-controller="BottomSheetExample" class="md-padding" ng-cloak>
  <h2 class="md-title">Usage</h2>
  <p>Bottom sheets can be displayed by clicking one of the buttons below.  Once shown, it can be
  dismissed by either swiping down or clicking in the shaded area.</p>
  <h2 class="md-title">Actions</h2>
  <p>Use one of the following buttons to display a bottom sheet.</p>
  <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center" >
    <md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show as List</md-button>
    <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet()">Show as Grid</md-button>
  </div>

  <div ng-if="alert">
    <br/>
    <b layout="row" layout-align="center center" class="md-padding">
      {{alert}}
    </b>
  </div>
</div>





<div layout="row" layout-margin style="border: double;border-color: purple;">
  <div flex>Parent layout and this element have margins.</div>
</div>
<div layout="row" layout-padding style="border: double;border-color: purple;">
  <div flex>Parent layout and this element have padding.</div>
</div>
<div layout="row" layout-fill style="min-height: 224px;border: double;border-color: purple;">
  <div flex>Parent layout is set to fill available space.</div>
</div>
<div layout="row" layout-padding layout-margin layout-fill style="min-height: 224px;border: double;border-color: purple;">
  <div flex>I am using all three at once.</div>
</div>

<div layout="column" style="border: double;border-color: purple;">

<div layout="row" style="border: double; border-width: 5px;border-color: blue;height:100px;" layout-align="center">
  <div style="border: double; border-width: 20px;border-color: green;" layout-align="start">
    I'm above on mobile, and to the left on larger devices.
  </div>
  <div style="border: double; border-width: 20px;border-color: red;" layout-align="end">
    I'm below on mobile, and to the right on larger devices.
  </div>
</div>

<div layout="row" style="border: double;border-color: blue;height:100px;">
  <div flex="20" style="border: double; border-color: green;">
    [flex="20"]
  </div>
  <div flex="70" style="border: double; border-color: red;">
    [flex="70"]
  </div>
  <div flex style="border: double; border-color:black;">
    [flex]
  </div>
</div>

</div>

<div layout="row" style="border: double;border-color: blue;height:100px;">
  <div flex="66" flex-offset="15">
    [flex-offset="15"]
    [flex="66"]
  </div>
  <div flex>
    [flex]
  </div>
</div>

<div layout="column" layout-align="center center">
  <div>one</div>
  <div>two</div>
  <div>three</div>
</div>

<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display">
  <md-item-template>
    <span md-highlight-text="searchText">{{item.display}}</span>
  </md-item-template>
  <md-not-found>
    No matches found.
  </md-not-found>
</md-autocomplete>


<md-dialog>
  <form>
    <md-input-container>
      <label for="testInput">Label</label>
      <input id="testInput" type="text" md-autofocus>
    </md-input-container>
  </form>
</md-dialog>


<md-button class="md-primary">Primary Button</md-button>
<md-button class="md-accent md-raised">Raised and Accent Button</md-button>
<md-button class="md-no-focus">No Focus Style</md-button>
<md-button> Flat Button </md-button>
<md-button>
  <md-icon md-svg-src="your/icon.svg"></md-icon>
  Register Now
</md-button>
<md-button class="md-fab" aria-label="FAB">
  <md-icon md-svg-src="your/icon.svg"></md-icon>
</md-button>
<!-- mini-FAB -->
<md-button class="md-fab md-mini" aria-label="Mini FAB">
  <md-icon md-svg-src="your/icon.svg"></md-icon>
</md-button>
<!-- Button with SVG Icon -->
<md-button class="md-icon-button" aria-label="Custom Icon Button">
  <md-icon md-svg-icon="path/to/your.svg"></md-icon>
</md-button>


<md-calendar ng-model="birthday"></md-calendar>


<md-card md-colors="::{background: '{{theme}}-primary-700'}">
 <img src="card-image.png" class="md-card-image" alt="image caption">
 <md-card-content>
   <h2>Card headline</h2>
   <p>Card content</p>
 </md-card-content>
 <md-card-footer>
   Card footer
 </md-card-footer>
</md-card>




<md-card >
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" src="avatar.png">
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">Title</span>
      <span class="md-subhead">Sub header</span>
    </md-card-header-text>
  </md-card-header>
  <img ng-src="card-image.png" class="md-card-image" alt="image caption">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Card headline</span>
      <span class="md-subhead">Card subheader</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="start center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
    <md-card-icon-actions>
      <md-button class="md-icon-button" aria-label="icon">
        <md-icon md-svg-icon="icon"></md-icon>
      </md-button>
    </md-card-icon-actions>
  </md-card-actions>
  <md-card-content>
    <p>
     Card content
    </p>
  </md-card-content>
</md-card>



<md-checkbox ng-model="isChecked" aria-label="Finished?">
  Finished ?
</md-checkbox>

<md-checkbox md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
  No Ink Effects
</md-checkbox>

<md-checkbox ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
  Disabled
</md-checkbox>


<md-chip>{{$chip}}</md-chip>

<div md-colors="{background: 'myTheme-accent-900-0.43'}">
  <div md-colors="{color: 'red-A100', 'border-color': 'primary-600'}">
    <span>Color demo</span>
  </div>
</div>


<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="item in items">
        <p>Number {{item}}</p>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="md-primary">Close Dialog</md-button>
  </md-dialog-actions>
</md-dialog>


<md-menu>
 <!-- Trigger element is a md-button with an icon -->
 <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
   <md-icon md-svg-icon="call:phone"></md-icon>
 </md-button>
 <md-menu-content>
   <md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>
 </md-menu-content>
</md-menu>


<md-menu-bar>
  <md-menu>
    <button ng-click="$mdMenu.open()">
      File
    </button>
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click="ctrl.sampleAction('share', $event)">
          Share...
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
      <md-menu-item>
        <md-menu>
          <md-button ng-click="$mdMenu.open()">New</md-button>
          <md-menu-content>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
            <md-menu-item><md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-item>
    </md-menu-item></md-menu-content>
  </md-menu>
</md-menu-bar>


<md-radio-group ng-model="selected">

  <md-radio-button ng-repeat="d in colorOptions" ng-value="d.value" aria-label="{{ d.label }}">

         {{ d.label }}

  </md-radio-button>

</md-radio-group>
